WBA2_Phase2/src/notifications.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://meinnamespace.meinefirma.de"
			xmlns="http://meinnamespace.meinefirma.de"
			elementFormDefault="qualified">
			
	<!-- Root-Element -->
	<xs:element name="notifications">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="notification">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="type"></xs:element>
			<xs:element name="date" type="xs:date"></xs:element>
			<xs:element name="head" type="xs:string"></xs:element>
		</xs:sequence>
		</xs:complexType>
		</xs:element>
	</xs:sequence>
	</xs:complexType>
	</xs:element>	
</xs:schema>