WBA2_Phase2/src/producttype.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://meinnamespace.meinefirma.de"
			xmlns="http://meinnamespace.meinefirma.de"
			elementFormDefault="qualified">
			
	<!-- Root-Element -->
	<xs:element name="producttype">
	<xs:complexType>
	<xs:sequence>
		<!-- Name -->
		<xs:element name="inputdate" type="xs:string"/>
		<!-- Beschreibung -->
		<xs:element name="description" type="xs:string"/>
		<!-- pushmepls -->
		
	</xs:sequence>
	</xs:complexType>
	</xs:element>	
</xs:schema>