WBA2_Phase2/src/profiles.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://meinnamespace.meinefirma.de"
			xmlns="http://meinnamespace.meinefirma.de"
			elementFormDefault="qualified">
			
	<!-- Root-Element -->
	<xs:element name="profiles">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="profile" maxOccurs="unbounded">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
		</xs:complexType>
		</xs:element>
	</xs:sequence>
	</xs:complexType>
	</xs:element>	
</xs:schema>