WBA2_Phase2/src/newSchemata/producttypes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.teamklinge.de/fridgemanager/schemas" 
	xmlns="http://www.teamklinge.de/fridgemanager/schemas" 
	elementFormDefault="qualified">	
	
	<xs:element name="productTypes">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="productType" maxOccurs="unbounded">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="href" type="xs:anyURI" use="required"></xs:attribute>
		</xs:complexType>
		</xs:element>
	</xs:sequence>
	</xs:complexType>
	</xs:element>	
</xs:schema>